.content__hero {
  max-width: 1040px;
  height: 300px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}


.content {
  padding: 70px 0 60px;
  background-color: #fff;
}
.content__wrap {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
}

.content__img {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, .5);
}

.content__text {
  max-width: 330px;
  margin: 0 auto;
}

.content__left {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.content__right {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content__divider {
  display: flex;
  justify-content: center;
}

.content__items {
  margin: 61px auto 0;

  max-width: 1040px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content__items > div {
  margin: 35px;
}