.paragraph {
  font-size: 14px;

  color: #000;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}