.bg {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ================HOME-HERO================ */
.background-home-hero {
  background-image: url('./bg-home-gero.jpg');
}
.home-hero {
  max-width: 1040px;
  height: 650px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ================ABOUT-US================ */
.about-us {
  padding: 80px 0 100px 0;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__text {
  max-width: 590px;
}

/* ================OUR-BEST================ */
.background-our-best {
  background-image: url('./bg-our-best.jpg');
}
.our-best {
  padding: 100px;

  text-align: center;
}

.our-best__items {
  margin-top: 39px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.our-best__items > div {
  margin-left: 35px;
  margin-right: 35px;
}